:root {
  --pinkish-grey: #c6c6c6;
  --greyish-brown: #1f1f1f;
  --ice-blue: #f9fcff;
  --turquoise: #0bc29f;
  --bright-sky-blue: #00b1ff;
  --dark-blue-grey: #1f2a55;
  --azul: #2564ee;
  --black: #171717;
}
